
* {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    transition: 0.1s;
    padding: 0%;
    margin: 0;
}

a {
    color: #ffff;
    text-decoration: none;
}

.activeSVG {
    transform: rotate(0deg);
    margin-right: 8px;
    transition: transform 0.5s ease;
}

.container-fluid {
    width: 100%;
    position: relative;
}

.controls {
    position: absolute;
    bottom: 30%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    margin: 0 120px 0 120px;
    z-index: 10;
    top: 29%;
}

.slider-inner {

    padding: 3px;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 12%;
    top: 85%;
}

.points .activeSVG.activePointAnimation {
    animation: spin 2s linear infinite; /* Added a spin animation */
    opacity: 0.39;
    filter: grayscale(100%);
    transform-origin: center;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #2a4cb5;
    width: 45%;
    margin-inline-start: 0px;
    position: absolute;
    top: 40%;
    text-align: center;
}

.banner h1 {
    color: white;
    position: relative;
    transition-property: left;
    transition-duration: 0.6s;
    transition-delay: 0.6s;
}

#bannerSection h1 {
    transition: transform 0.5s ease-out;
}

.slide-from-left {
    transform: translateX(-120%);
}



.block {
    height: 100px;
    background-color: black;
    width: 45%;
    position: absolute;
    z-index: -5;
    top: 40%;
    right: -2px;
}

.hero-text h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-inline-start: 210px;
}

.inner img {
    display: none;
    margin: auto;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.inner img.active {
    display: block;
    width: 80%;
    height: 550px;
}
/**
.prev,
.next {
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.prev:hover,
.next:hover {
    transform: translateX(35px);
}
**/

.prev {
    z-index: 100;
}

.next {
    z-index: 100;
}


.landing {
    width: 78%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.burger {
    margin-right: 20px;
}

svg {
    padding-top: 0;
    margin: auto 0 auto 0;
}

.logo {
    width: auto;
}

.banner2-text {
    width: 45%;
    height: 222px;
    font-size: 18px;
    font-size: larger;
    font-weight: 300;
}

.banner2-hero {
    padding: 30px 28px 30px 28px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.square {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.square-sponsor {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 180px;
    background-color: #061B2C;
}

#block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 27px;
    background-color: #234AC1;
    color: white;
    font-weight: 600;
    padding: 0 9px 0 9px;
}

.container1 {
    width: 380px;
    gap: 20px;
    display: flex;
}

.about {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

h3 {
    color: white;
    font-weight: 500;
    margin-left: 33px;
    font-size: 24px;
}

.text {
    margin: inherit;
    font-size: 9.6px;
}

.arrow {
    margin: 0;
    padding: 0;
}

.arrow1 {
    margin-left: 33px;
}

@media screen and (max-width: 400px) {

    .banner2-text {
        justify-content: start;
        width: auto;
        height: auto;
    }

    .controls{
        right: -18%;
    }

    .inner img.active {
        width: 80%;
        height: 300px;
    }

    .container1,
    .square-sponsor {
        max-width: 300px;
    }

}

@media screen and (max-width: 800px) {
    .banner2-hero{
        flex-direction: column;

    }
    .banner2-text{
        width: 50%;
        margin-left: 50px;
        height: 100%;
    }
    svg{
        padding-top: 0;
    }
    .image-section{
        width: 100%;
        margin-left: -25px;
        margin-right: 200px;
        display: flex;
        justify-content: center;
    }
    .controls{
        bottom: 30%;
        right: -1%;
    }
}

@media screen and (max-width: 450px){

    .controls{
        right: -16%;
    }
}

@media screen and (max-width: 850px){
    .banner h1 {
        font-size: 18px;
        margin-inline-start: 0px;
    }
}

@media screen and (max-width: 320px){

    .landing{
        width: 88%;
    }

    h3{
        margin-left: 33px;
    }
    .arrow1 {
        margin-left: 33px;
    }

    .text {
        margin-left: 14%;
        display: contents;
    }
    .banner h1 {
        font-size: 6px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        display: flex;
        justify-content: center;
    }

    
    .controls{
        bottom: 25%;
        right: -26%;
    }

    
    .square-sponsor {
        max-width: 300px;
        display: flex;
        gap: 39px;
    }

    .container1{
        max-width: 300px;
        display: flex;
    }
}

@media screen and (max-width: 600px){
    .inner img.active {
        width: 80%;
        height: 400px;
    }
    .controls{
        bottom: 22%;
        /* right: -16%; */
    }
}

@media screen and (max-width: 250px){
    .banner2-text {
        font-size: 13px;
        width: 100%; /* Adjust or remove as needed */
    }

    .inner img.active {
        width: 100%;
        height: auto; /* Adjust or remove as needed */
    }
}